---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2018-10-26T20:32:58.836+03:00","batch":[{"event":"Shop Handed
        Off","userId":1,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{"plan_name":"enterprise","email":"user1@example.com"},"timestamp":"2018-10-26T20:32:58.836+03:00","type":"track","messageId":"b6c9aed3-6d4b-4e9e-ba71-caed9e9b1bb2"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aGVsbG8gc2VnbWVudDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Fri, 26 Oct 2018 17:33:00 GMT
recorded_with: VCR 4.0.0
