---
http_interactions:
- request:
    method: post
    uri: https://api.segment.io/v1/import
    body:
      encoding: UTF-8
      string: '{"sentAt":"2018-10-26T16:24:24.563+03:00","batch":[{"event":"Shop Handed
        off","userId":1,"anonymousId":null,"context":{"library":{"name":"analytics-ruby","version":"2.0.13"}},"options":null,"integrations":null,"properties":{"planName":null,"email":"user1@example.com"},"timestamp":"2018-10-26T16:24:24.563+03:00","type":"track","messageId":"82d848fb-46ec-47cd-8d78-c7e1955c225b"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aGVsbG8gc2VnbWVudDo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true
        }
  recorded_at: Fri, 26 Oct 2018 13:24:25 GMT
recorded_with: VCR 4.0.0
