<% if flash[:notice].present? %>
  <div class="toast toast-success">
    <%= flash[:notice].html_safe %>
  </div>
<% elsif flash[:alert].present? %>
  <div class="toast toast-error">
    <%= flash[:alert].html_safe %>
  </div>
<% end %>
