<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "admin/style" %>
    <title>Admin</title>
  </head>
  <body>

    <header class="navbar">
      <section class="navbar-section">
        <a href="/admin" class="navbar-brand mr-2">Admin</a>
      </section>
    </header>

    <div class="container">
      <%= render "shared/admin_flash" %>

      <div class="columns">
        <div class="column">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
